#countries-container {
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    gap: 10px;
}

.country {
    border: 1px solid salmon;
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
}